{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Ponto{% endblock %}

{% block content %}
<div class="ponto-container">

  <header class="topo">
    <h1>Registro de Ponto</h1>
    <!-- <div class="relogio" id="relogio"></div> -->
  </header>

  <form method="post" class="ponto-form" id="pontoForm" autocomplete="off">
    {% csrf_token %}

    <!-- Container com display flex para alinhar os inputs lado a lado -->
    <div class="time" style="display: flex; justify-content: center; gap: 10px;">
      <div style="display: flex; flex-flow: column;">
        <label for="data">Data:</label>
        <input class="input-registro" type="date" id="data" name="data" required >
      </div>

      <div style="display: flex; flex-flow: column;">
        <label for="hora">Hora:</label>
        <input class="input-registro" type="time" id="hora" name="hora" required>
      </div>
    </div>

    <div class="cpf" >
      <label   for="cpf" style=" display: block;">Digite seu CPF (somente números):</label>
      <input class="cpf-input" type="text"
             id="cpf"
             name="cpf"
             maxlength="14"
             minlength="14"
             required
             pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
             placeholder="000.000.000-00"
             autofocus />
    </div>

    <div class="mensagem" id="mensagem">
      {% if messages %}
        <div class="messages">
          {% for msg in messages %}
            <p class="mensagem {% if msg.tags == 'error' %}erro{% else %}sucesso{% endif %}">
              {{ msg }}
            </p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </form>

  {% comment %}
  <nav>
    <a href="{% url 'listar_pontos' %}">Ver registros</a> |
    <a href="{% url 'logout' %}">Sair</a>
  </nav>
  {% endcomment %}

</div>

<script src="{% static 'js/cpf.js' %}"></script>
<script src="{% static 'js/envio.js' %}"></script>
<script src="{% static 'js/data.js' %}" ></script>

{% endblock %}
