{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="UTF-8"
    />
    <title>{% block title %}Sistema de Registro de Pontos{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
<!-- <header>
    <h1>Sistema de Registro de Pontos</h1>
    <nav>
        <a href="{% url 'registrar_ponto' %}">Registrar ponto</a> |
        <a href="{% url 'listar_pontos' %}">Listar pontos</a> |
        <a href="{% url 'logout' %}">Sair</a>
    </nav>
</header> -->

    <main class="Centro">{% block content %} {% endblock %}</main>

    <footer class="footer">
      <div class="footer-content">
        <!-- Texto padrão para telas grandes -->
        <p class="texto-desktop">
          <strong>Desenvolvido por:</strong> Thayron Higlânder - Back-end |
          Francisco Araújo - Front-end.
        </p>

        <!-- Texto alternativo para telas pequenas -->
        <p class="texto-mobile">
          <strong>Desenvolvido por:</strong> Thayron | Francisco Araujo
        </p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
